body {
    background: #c0793b;
}

h1 {
  text-align: center;
  font-size: 110px;
  font-family: 'Trebuchet MS';
  color: aliceblue;
}

.botão {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px 16px;
    border-radius: 10px;
    background-color: #3d2410;
    color: #c0793b;
    font-size: large;
    padding: 0.3%;
    cursor: pointer;
        }

        h3 {
          color: white;
          text-align: center;
        }

        h2 {
          color: white;
          text-align: center;
        }

        .img1 {
          border-radius: 120px 10px 10px 0px;
         width: 400px;
         height: 120px;
        
         
         
          position: fixed;
          bottom: 0px;   /* distância do rodapé */
          right: 0px;    /* distância da lateral direita */
          z-index: 1000;  /* garante que fique por cima de outros elementos */
        }
        .img2 {
          border-radius: 10px 10px 120px 0px;
         width: 400px;
         height: 120px;
        left: 0px;
        top: 0px;

        position: fixed;
       
        height: 120px;   /* distância da lateral direita */
        z-index: 1000;  /* garante que fique por cima de outros elementos */
      }

      .celula-carlos {
        position: fixed;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        border-radius: 220px;
        cursor: pointer;
      }

      .p-carlos {
        background-color: #72441f;
        color: aliceblue;
        font-size: 25px;
        font-family: Helvetica;
        position: fixed;
        top: 70%;
        left: 43%;
        transform: translate(-50%, -50%);
        border-radius: 3px;
        padding: 0.5%;
       transition: all 0.1s ease;
      }

      .texto {
        display: none; /* Esconde por padrão */
      }
      

      .celula-kids {
        position: fixed;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
        border-radius: 220px;
        cursor: pointer;

      }

      .p-kids {
        background-color: #72441f;
        color: aliceblue;
        font-size: 20px;
        font-family: Helvetica;
        position: fixed;
        top: 70%;
        left: 75%;
        transform: translate(-50%, -50%);
        border-radius: 3px;
        padding: 0.5%;
      }

      .click-aqui {
        background-color: #503113;
  font-size: 18px;
 text-align: center;
 border: solid 5px #3f2710 ;
 width:  calc(100% - 75%);
 color: #fff;
 
      }

     

        
